body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

/* Start nav */
.container {
    background-image: linear-gradient(180deg, rgba(2, 0, 36, 0.8) 0%, rgba(14, 6, 16, 0.8) 30%),
    url(../programming-background-with-person-working-with-codes-computer.jpg);
    background-size: cover;
}
.container .nav {
    background:none;
    border-bottom: solid 1px #505050;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.container .nav .logo {
    padding-left: 150px;
}

.container .nav .logo h1 {
    font-size: 30px;
    font-weight: bold;
    color: #EEE;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.container .nav .logo h1:hover{
    transform: translateX(20px);
    color: #cd01e3;
    transition: .3s;
    cursor: pointer;
}

.container .nav .nav-items ul {
    padding-right: 150px;
    list-style: none;
    display: flex;
    gap: 30px;
    padding-top: 15px;
    text-transform: uppercase;
}

.container .nav .nav-items ul li {
    font-size: 16px;
    color: white;
    font-weight: 500;
}
.container .nav .nav-items ul li:hover {
    color: #cd01e3;
    border-bottom: solid 1px white;
    transition: .3s;
    padding-bottom: 2px;
    cursor: pointer;
}

/* End nav  */
.container .header {
    background:none;
    padding: 20px;
    height: 500px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.container .header .con {
    color: white;
}

.container .header .con h1 {
    font-size: 70px;
    font-weight: bold;
}

.container .header .con p {
    font-size: 30px;
    line-height: 2px;
    padding-bottom: 10px;
}
.container .header .btn {
    background-color: #850294;
    color: white;
    padding: 10px 35px;
    outline: none;
    border: none;
    font-size: 22px;
    font-weight: 400;
    border-radius: 30px;
}
.container .header .btn:hover {
    background-color: #ab04bd;
    cursor: pointer;
    transition: .3s;
}